@use 'base/variables' as v ;
@use 'base/mixins'  as m;

.formulario {
    margin: 5rem auto 2rem auto;
    background-color: v.$blanco;
    border-radius: 5rem;
    padding: 3rem 0;

    @include m.tablet {
        max-width: 50%;
    }

    @include m.desktop {
        display: flex;
        justify-content: space-between;
        max-width: 90rem;
        box-shadow: 0px 3px 7px 0px v.$gris;
        margin: 10rem auto 2rem auto;
        padding: 0;
    }

    &__campo {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            @include m.desktop {
                padding-left: 4rem;
            }
        }

        &:hover {
            background-color: #F0F0F0;
            border-radius: 5rem;
            box-shadow: 0px 6px 20px rgb(0 0 0 / 40%);
        }
    }

    &__label {
        margin-bottom: .5rem;
        font-size: 1.2rem;
        font-weight: 900;
    }

    &__input {
        border: none;
        width: 100%;
        color: v.$gris;

        &:focus {
            outline: 2px solid #C39C63;
            border-radius: .4rem;
        }
    }

    &__submit {
        display: block;
        height: 4rem;
        border: none;
        border-radius: 2rem;
        background-image: radial-gradient(circle, #ff385c 0%, v.$secundario 100%);
        padding: 0 5rem;
        color: v.$blanco;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        cursor: pointer;
    }
}
